.comment-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 8px 0;
}

.comment-content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.comment-username {
  font-size: 13px;
  font-weight: 700;
}

.comment-text {
  font-size: 13px;
}
